---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
const pageTitle = "Sobre mi";

const identidad = {
  nombre: "Pablo",
  pais: "Argentina",
  ocupacion: "Paseador de perros",
  hobbies: ["fotografia", "video", "dibujo"],
};

const skills = [
  "HTML",
  "CSS",
  "JavaScript",
  "React",
  "Astro",
  "Redacción de documentos",
];

const feliz = true;
const finalizado = false;
const goles = 3;

// Variables CSS
const skillColor = "darkolivegreen";
const fontWeight = 600;
const textCase = "capitalize";
---


<head>
  <!-- Estilos CSS (comentario HTML que se renderiza en el DOM) -->
  {/* Estilos CSS (comentario JavaScript que NO se renderiza en el DOM) */}
  <meta charset="UTF-8">
  <style define:vars={{ skillColor, fontWeight, textCase }}>
    .skill {
      color: var(--skillColor);
      font-weight: var(--fontWeight);
      text-transform: var(--textCase);
      list-style-type: none;
    }
  </style>
</head>
<BaseLayout pageTitle={pageTitle}>
  <h2>...y mi web Astro</h2>
  <p>
    Estoy trabajando en el tutorial introductorio de Astro. Esta es la segunda
    página de mi sitio web, ¡y es la primera que he construido yo mismo!
  </p>
  
  <p>
    Este sitio se irá actualizando a medida que vaya completando más partes del
    tutorial, ¡así que no dejes de visitarlo para ver cómo va mi viaje!
  </p>
  
  <p>He aquí algunos datos sobre mí:</p>
  <ul class="skill">
    <li>Me llamo {identidad.nombre}.</li>
    <li>Vivo en {identidad.pais} y trabajo como {identidad.ocupacion}.</li>
    {
      identidad.hobbies.length >= 2 && (
        <li>
          Dos de mis aficiones son: {identidad.hobbies[1]} y{" "}
          {identidad.hobbies[2]}
        </li>
      )
    }
  </ul>
  <p>Mis habilidades son:</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
  
  {feliz && <p>¡Estoy feliz de aprender Astro!</p>}
  
  {finalizado && <p>¡He terminado este tutorial!</p>}
  
  {
    goles === 3 ? (
      <p>Mi objetivo es terminar en 3 días.</p>
    ) : (
      <p>Mi objetivo no son 3 días.</p>
    )
  }
  
</BaseLayout>
